*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: relative;
    font-family:'Courier New';
   
    
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgb(57, 106, 119);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.navbar ul{
    display:flex;
    list-style:none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    
}
.navbar ul li a:hover{
    border-bottom: 2px solid white;
   

}

body {
    background-color: rgb(22, 33, 62);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  h1{
    Font-family: Century Ghotic;
    font-size: 50px;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 150px;
    color: rgb(233, 69, 96);
    float: right;
    margin-right: 180px;
 }

 
 .accounts{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 100px;
    color: white;
    
 }

 table, tr, td{
    border: 1px solid rgb(97, 106, 105);
    border-collapse: collapse;
    background-color: rgb(41, 208, 203);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    margin-left: 200px;
    padding: 8px;
    }
    

    td{
        font-size: 12px;
        opacity: 1;
        color: black;
        text-align: center;
        }

#icon1{
         height: 50px ;
         width:  60px;

}
#icon2{
    height: 50px ;
    width:  60px;

}
#icon3{
    height: 50px ;
    width:  60px;

}
#icon4{
    height: 50px ;
    width:  60px;

}
#icon5{
    height: 50px ;
    width:  60px;

}
#icon6{
    height: 50px ;
    width:  60px;
}

.number{
    font-size: 16px;
    letter-spacing: 5px;
}

h2{
    Font-family: Consolas;
    font-size: 18px;
    text-align: center;
    margin-top: -200px;
    color: rgb(52, 191, 182);
    float: right;
    margin-right: 220px;
 }