*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: relative;
    font-family:'Courier New';
   
    
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgb(57, 106, 119);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.navbar ul{
    display:flex;
    list-style:none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    
}
.navbar ul li a:hover{
    border-bottom: 2px solid white;
   

}

body {
    background-color: rgb(31, 32, 35);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  h1{
    Font-family: Century Ghotic;
    font-size: 50px;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 70px;
    color: #1ec1d3;
 }

 #paragraph1{	
   
    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:white;
    
 }

 .description-item{
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 130px;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    background-color:  #1ec1d3;
    color: rgb(62, 56, 59);
    padding: 50px,10px;
    box-shadow: 0 0 9px rgba(o,0,0 .6);
 }
 .description-item i{
    font-size:43px;
    margin: 0;
 }
 .description-item h3{
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial;

 }

 .description-item hr{
    width: 46px;
    height: 3px;
    background-color: #3b3f41;
    margin: 0 auto;
    border: none;
    

 }
.Just{
    text-align: justify;
    font-family: Arial;

}


 .description-item p{
    margin-top: 20px;
    padding-bottom: 35px;
 }

 .description-item:hover{
    background-color: rgb(132, 172, 174);
 }
.description-item:hover i,
.description-item:hover h3,
.description-item:hover p{
    color:#fff;
}
.description-item:hover hr{
    background-color: rgb(212, 222, 227);
}
.description-item:hover i{
    transform: translateY(-20px);
}
.description-item:hover i,
.description-item:hover h3,
.description-item:hover hr{
    transition: all 400ms ease-in-out;
}
footer{
    background: rgb(45, 44, 44);
    padding: 20px;
    margin-top: 400px;
    position: absolute;
    width: 1221px;
}

footer p{
    color: rgb(82, 185, 186);
}

.shaira{
    text-align: center;
}

.JIL1{
    height: 100px;
    width: 150px;
    border-radius: 100px;
    
}

.JIL{
    margin-top: 50px;

}
#book{
    margin-left: 105px;
    margin-top: 7px;
    
}
#glasses{
    margin-left: 100px;
    margin-top: 7px;
}
#atom{
    margin-left: 105px;
    margin-top: 7px;
}
